* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

body {
  background-image: url("worsetigerhead.png");
}

.grid-container1 {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: #FF0000;
  padding: 10px;
}
.grid-item {
  background-color: #FFFF00;
  border: 3px solid #FF0000;
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #FF0000;
  padding: 10px;
}

.actual-description {
  float: right;
  background-color: #00540E;
  width: 30%;
  border: 5px solid white;
  color: white;
}
